<!DOCTYPE html>
<html>
  <head>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>   -->
    <!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script> -->
    <!-- <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
  </head>
  <body>
    <div id="header"></div>
    <div id="main-content">
      Hello?
    </div>
    <script src="{{ url_for('static', filename='dist/mounters.js') }}"></script>
  </body>
</html>